body{
    background-color: rgb(143, 96, 231);
    height: 1000px;
}
#caixa{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center ;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(174, 117, 207);
    margin: 0 auto;
    box-shadow: 0px 10px 50px  rgb(223, 191, 241);
}
label{
    margin: 10px;
}
input{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    
    
}

form{
    padding: 20px;
}
 #nota{
    height: 25px;
    
 }
 #nota2{
    height: 25px;
 }
 #nota3{
    height: 25px;
 }
#virtual{
    overflow: hidden;
    width: 190px;
    height: 300px;
    
    margin: 0 auto;
    transform: translate(0%,20%);
}
.btn{
    background-color:rgb(197, 158, 219);
    padding: 20px;
    font-size: 20px;

}

.btn:hover{
    transform:scale(1.1);
    transition: 1.2s;
    background-image: rgb(173, 73, 231) ;
    box-shadow: 0px 0px 100px rgb(233, 96, 192) ;
    border: 1px solid  rgb(230, 213, 240);
    color: white;

}

.media{
    margin-top: 50px;
}
input:hover{
    box-shadow: 0px 0px 100px rgb(233, 96, 192) ;
}

#aprovado{
    border: 1px white solid;
   display: none;
   overflow: hidden;
   height: 450px;
   width: 500px;
   margin: 0 auto;
   transform: translate(0%,-140%);
   border-radius: 10px;
}

#reprovado{
    border: 1px white solid;
   display: none;
   overflow: hidden;
   height: 450px;
   width: 500px;
   margin: 0 auto;
   transform: translate(0%,-140%);
   border-radius: 10px;
}
   
